{% extends 'base-offline.html.twig' %}

{% block title %}Register here{% endblock %}

{% block background_style %}
    style="background-image:url(assets/static/images/bgreg.jpg)"
{% endblock %}

{% block form %}
    <form method="GET">
            <div class="form-group">
            <label class="text-normal text-dark">First name</label>
            <input type="text" name="first_name" class="form-control" placeholder="John">
        </div>
                <div class="form-group">
            <label class="text-normal text-dark">Last name</label>
            <input type="text" name="last_name" class="form-control" placeholder="Doe">
        </div>
                <div class="form-group">
            <label class="text-normal text-dark">Email</label>
            <input type="email" name="email" class="form-control" placeholder="John_Doe@msn.com">
        </div>
        <div class="form-group">
            <label class="text-normal text-dark">Password</label>
            <input type="password" name="password" class="form-control" placeholder="Password">
        </div>
        <div class="form-group">
            <label class="text-normal text-dark">Telephone</label>
            <input type="tel" name="tel" class="form-control" placeholder="0601020304">
        </div>
        <div class="form-group">
            <div class="peers ai-c jc-sb fxw-nw">
                <div class="peer">
                    <div class="peers ai-c">
                        <a href="/login">
                            <label for="inputCall1" class="peers peer-greed js-sb ai-c">
                                <span class="peer peer-greed">Déjà inscrit ?</span>
                            </label>
                        </a>
                    </div>
                </div>
                <div class="peer">
                    <button class="btn btn-primary" type="submit">Register</button>
                </div>
            </div>
        </div>
    </form>
    <h3 id="message"></h3>
{% endblock %}

{% block javascript %}

    <script>
        $(document).ready(function(){
            $("form").submit(function(e){

                let isEmpty = false;
                for(let i = 0; i < $("form input").length; i++){
                    if($("form input").eq(i).val().length < 1)
                        isEmpty = true;
                }

                if(!isEmpty){
                    e.preventDefault();
                    let data = $(this).serialize();
                    $.post("/register", data, function(data){
                        $("form").css("display", "none");
                        $("#message").text("Redirecting to Login Page in 3 sec.").css("display", "block");
                        setTimeout(function(){
                            document.location.href = "/login";
                        }, 3000);
                    })

                } else {
                    alert("Missing Input Values!");
                }

            })

        })

    </script>

{% endblock %}